@use "../../styles/variables.scss" as *;

.header {
  background-color: #fff;
  border-bottom: 1px solid $color-border;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 800;

  .logo {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 2.4rem;
    &:link,
    &:visited {
      text-decoration: none;
      color: #010124;
    }
  }

  .header-container {
    display: flex;
    align-items: center;
    height: 6rem;
    gap: 10rem;
  }

  .actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;

    .auth-button {
      display: flex;
      align-items: center;
      padding: 0.6rem 1.2rem;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      background-color: rgb(1, 8, 86);
      color: #fff;

      gap: 0.6rem;
      .icon {
        font-size: 2rem;
      }
    }

    .avatar-box {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
      .name {
        font-size: 1.5rem;
      }
      .avatar {
        .avatar-image {
          border-radius: 50%;
        }
      }
    }
    .popper {
      position: absolute;
      top: 100%;
      min-width: 18rem;
      right: 0;
      margin-top: 0.5rem;
      padding: 2rem;
      background-color: #fff;
      border-radius: 0.4rem;
      box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.03);
      z-index: 100;

      .popper-links {
        list-style: none;
        li {
          padding: 1rem 0;
          border-bottom: 1px solid $color-border;

          a {
            &:link,
            &:visited {
              text-decoration: none;
              color: $color-grey-1;
              transition: all 0.2s;
              font-size: 1.5rem;
            }
            &:hover,
            &:active {
              color: $color-primary;
            }
          }
        }
      }

      button {
        margin-top: 2rem;
        font-size: 1.6rem;
        color: $color-grey-1;
        font-family: inherit;
        font-weight: 400;
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.2s;
        display: flex;
        align-items: center;
        gap: 1rem;

        &:hover {
          color: $color-primary;
        }

        .icon {
          font-size: 2.2rem;
        }
      }
    }
  }
}
