@use "../../styles/variables.scss" as *;

.header {
  background-color: #fff;
  border-bottom: 1px solid $color-border;

  .logo {
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-blue;
    }
  }

  .header-container {
    display: flex;
    align-items: center;
    height: 6rem;
    gap: 4rem;
  }

  .user {
    margin-left: auto;

    .icon {
      box-sizing: content-box;
      padding: 1rem;
      color: $color-blue;
      font-size: 1.8rem;
      border: solid 1px $color-border;
      border-radius: 50%;
    }
  }
}
