@use "../../styles/variables.scss" as *;

.section-popular {
  padding: 6rem 0;

  .popular-container {
    .books {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
      gap: 3rem;
    }
  }
}
