@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  color: $color-grey-1;
  font-weight: 400;
  background-color: $color-grey-light;
}

h1,
h2,
h3 {
  margin-bottom: 0.6rem;
}

p {
  margin-bottom: 4px;
}

.row {
  max-width: 90%;
  margin: 0 auto;
}

.main-wrapper {
  min-height: 75vh;
}

.heading-secondary {
  font-size: 3.6rem;
  line-height: 1;
  border-left: 4px solid #e4342d;
  padding-left: 1.5rem;
  margin-bottom: 2rem;
}

// Popup animation
.modal-animation-enter-active {
  animation: modalAnimateIn 0.3s forwards;
}

.modal-animation-exit-active {
  animation: modalAnimateOut 0.3s forwards;
}

@keyframes modalAnimateIn {
  0% {
    transform: translateY(-5rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes modalAnimateOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-5rem);
    opacity: 0;
  }
}
