$color-blue: #0290ff;
$color-blue-dark: #4386bf;
$color-blue-light: #63b5f4;

$color-primary: #010856;
$color-primary-dark: #01074d;
$color-primary-text-light: #e6e6ee;
$color-secondary: #e4342d;
$color-secondary-dark: #cd2f29;
$color-secondary-text-light: #fcebea;

$color-grey-1: #333;
$color-grey-2: #888;

$color-border: #e8e8e8;

$color-grey-light: #fafafa;

$shadow-1: 0 0 1rem 1.5rem rgba(0, 0, 0, 0.02);
